{% extends "base.html" %}

{% block content %}

<div class="jumbotron">
    <div class="container">
        <h1>Bem vindo!</h1>
        <p>Essa é a Distribuidora Digital</p>
        <a href="https://github.com/pedrolaraburu/distribuidora-digital">Repositório no GitHub</a>
        <p>Feito por:</p>
        <ul>
            <li strong>Pedro Laraburu</li>
            <li>Enzo Souto</li>
            <li>Eduardo Carvalho</li>
        </ul>
        <a href="{% url 'produto:produto_loja' %}">Ir para loja</a>
    </div>
</div>
{% endblock content %}